/* FONTS */
/* rubik-regular - latin */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/rubik-v12-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/rubik-v12-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rubik-500 - latin */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/rubik-v12-latin-500.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/rubik-v12-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rubik-700 - latin */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/rubik-v12-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/rubik-v12-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  --body-color: #434343;
  --header-bg: #f6f6f9;
  --header-border: #295093;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Rubik", "Arial", sans-serif;
  font-display: swap;
  font-size: 16px;
  line-height: 1.4;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  max-width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* HEADER */
.main-header {
  width: 100%;
  background-color: var(--header-bg);
  padding: 25px 0;
  border-top: 4px solid var(--header-border);
  margin-bottom: 22px;
}

.header-top {
  margin-top: 18px;
  margin-bottom: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.currencies {
  padding: 0;
  margin-left: 20px;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.currency {
  font-size: 16px;
  color: #7a7a7a;
  font-weight: normal;
}
.header-actions {
  display: flex;
}

.navbar-list {
  background-color: white;
  -webkit-box-shadow: 0px 2px 5px rgb(159 159 159 / 19%);
  box-shadow: 0px 2px 5px rgb(159 159 159 / 19%);
  border-radius: 5px;
  margin-bottom: 18px;
  padding: 20px 25px;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-between;
}
.navbar-item a {
  text-decoration: none;
  font-size: 19px;
  color: #515151;
  font-weight: 500;
}

.navbar-item a:hover {
  color: #295091;
}

.btn {
  padding: 0;
  display: block;
  border: none;
  cursor: pointer;
}
.search-btn {
  height: 40px;
  width: 40px;
  background-color: #fff;
  border-radius: 5px;
  background-image: url(../images/search.png);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center center;
  margin-right: 25px;
  margin-left: auto;
}

.currency-type {
  color: #285193;
  font-weight: 700;
  margin-right: 5px;
  margin-left: 15px;
}

.telegram-join {
  padding: 10px;
  background: linear-gradient(90deg, #1e96c8 15.07%, #37aee2 85.96%);
  border-radius: 5px;
  transition: background 0.3s ease;
}
.telegram-join:hover {
  background: linear-gradient(90deg, #37aee2 15.07%, #1e96c8 85.96%);
  transition: background 0.3s ease;
}
.telegram-link {
  display: flex;
  align-items: center;
  font-weight: normal;
  color: #fff;
  text-decoration: none;
}
.telegram-img {
  margin-right: 5px;
}
.language-option {
  width: 80px;
  margin-right: 25px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  color: #535353;
  background-color: #fff;
}

.language-option::before {
  margin-right: 5px;
  display: block;
  content: "";
  background-image: url(../images/uz.png);
  width: 20px;
  height: 20px;
}

.covid-list {
  margin: 0;
  margin-bottom: 18px;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  background-color: var(--header-bg);
  border-radius: 5px;
}
.covid-item {
  flex: 1;
  display: flex;
  align-items: center;
}
.covid-item:not(:last-child) {
  border-right: 2px solid #eb5569;
  margin-right: 30px;
}
.coronavirus {
  flex: 1.5;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
}
.coronavirus::before {
  margin-right: 25px;
  display: block;
  content: "";
  background-image: url(../images/coronavirusimg.png);
  background-repeat: no-repeat;
  width: 56px;
  height: 45px;
}
.patients::before {
  margin-right: 20px;
  display: block;
  content: "";
  background-image: url(../images/medical-mask.png);
  width: 37px;
  height: 39px;
}
.health::before {
  margin-right: 20px;
  display: block;
  content: "";
  background-image: url(../images/cil_smile.png);
  width: 37px;
  height: 39px;
}
.patients {
  border-right-color: #f4ccd1 !important;
  color: #db0000;
}
.health {
  border-right-color: #f4ccd1 !important;
  color: #05b135;
}
.dieds::before {
  margin-right: 20px;
  display: block;
  content: "";
  background-image: url(../images/died.png);
  width: 38px;
  height: 39px;
}
.covid-amount {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 21px;
}

.covid-amount-count {
  font-size: 22px;
  font-weight: 700;
  color: #000000;
  margin-top: 5px;
}

/* NEWS CARD */
.news-card-container {
  display: flex;
}
.news-card {
  display: flex;
  flex-direction: column;
  max-width: 386px;
  text-decoration: none;
}
.news-card:nth-child(2) {
  max-width: 388px;
}
.news-card-img {
  object-fit: fill;
}

.news-card:not(:last-child) {
  margin-right: 10px;
}
.news-card:not(:first-child) {
  margin-left: 10px;
}

.news-card-title {
  margin-top: 11px;
  margin-bottom: 11px;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #202020;
}
.news-card-text {
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6b6d97;
}
.notification-container {
  padding: 33px;
  display: flex;
  background: rgba(239, 186, 84, 0.18);
  border-radius: 5px;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.notification-container::before {
  display: block;
  content: "";
  background-image: url(../images/bell-icon.png);
  width: 31px;
  height: 35px;
}
.notification-title {
  margin: 0;
  margin-left: 18px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.notification-btn {
  padding: 8px;
  margin-left: auto;
  color: #fff;
  background: linear-gradient(
    90deg,
    #fe5c28 0%,
    rgba(255, 139, 54, 0.9) 88.43%
  );
  border-radius: 5px;
  border: none;
}

.site-news > * {
  margin-bottom: 38px;
}
