/* FONTS */
/* rubik-regular - latin */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/rubik-v12-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/rubik-v12-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rubik-500 - latin */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/rubik-v12-latin-500.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/rubik-v12-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rubik-700 - latin */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/rubik-v12-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/rubik-v12-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  --body-color: #434343;
  --header-bg: #f6f6f9;
  --header-border: #295093;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Rubik", "Arial", sans-serif;
  font-display: swap;
  font-size: 16px;
  line-height: 1.4;
}
img {
  max-width: 100%;
  height: auto;
}
/* 
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
} */
.container {
  max-width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* HEADER */
.main-header {
  width: 100%;
  background-color: var(--header-bg);
  padding: 25px 0;
  border-top: 4px solid var(--header-border);
  margin-bottom: 25px;
}

.header-top {
  margin-top: 18px;
  margin-bottom: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.currencies {
  display: flex;
  margin-left: 20px;
  margin-right: auto;
  justify-content: space-between;
}
.currency {
  font-size: 16px;
  color: #7a7a7a;
  font-weight: normal;
}
.header-actions {
  display: flex;
}
.navbar {
  padding: 20px 25px;
  background-color: white;
  -webkit-box-shadow: 0px 2px 5px rgb(159 159 159 / 19%);
  box-shadow: 0px 2px 5px rgb(159 159 159 / 19%);
  border-radius: 5px;
  margin-bottom: 18px;
}

.navbar-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}
.navbar-item a {
  text-decoration: none;
  font-size: 19px;
  color: #515151;
  font-weight: 500;
}

.navbar-item a:hover {
  color: #295091;
}

.btn {
  padding: 0;
  display: block;
  border: none;
  cursor: pointer;
}
.search-btn {
  height: 40px;
  width: 40px;
  background-color: #fff;
  border-radius: 5px;
  background-image: url(../images/search.png);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center center;
  margin-right: 25px;
  margin-left: auto;
}

.currency-type {
  color: #285193;
  font-weight: 700;
  margin-right: 5px;
  margin-left: 15px;
}

.telegram-join {
  padding: 10px;
  background: linear-gradient(90deg, #1e96c8 15.07%, #37aee2 85.96%);
  border-radius: 5px;
  transition: background 0.3s ease;
}
.telegram-join:hover {
  background: linear-gradient(90deg, #37aee2 15.07%, #1e96c8 85.96%);
  transition: background 0.3s ease;
}
.telegram-link {
  display: flex;
  align-items: center;
  font-weight: normal;
  color: #fff;
  text-decoration: none;
}
.telegram-img {
  margin-right: 5px;
}
.language-option {
  width: 80px;
  margin-right: 25px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  color: #535353;
  background-color: #fff;
}

.language-option::before {
  margin-right: 5px;
  display: block;
  content: "";
  background-image: url(../images/uz.png);
  width: 20px;
  height: 20px;
}
